* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

html {
    font-size: 10px
}

body {
    background-color: #fff;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    font-size: 2rem;
    line-height: 1.5
}

a,
body {
    color: #2a2825
}

a {
    text-decoration: none
}

a:hover {
    color: #2a2825
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #2a2825;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -.23px
}

h3 {
    font-size: 1.6rem
}

p {
    margin-top: 0;
    color: #82817d;
    line-height: 1.5
}

p strong {
    color: #2a2825;
    font-weight: 500
}

ul {
    color: #82817d
}

button,
textarea,
vinput {
    background: none;
    color: inherit;
    font-size: inherit;
    line-height: normal;
    border: 0;
    border-radius: 0;
    -moz-appearance: none;
    appearance: none
}

button,
select,
textarea,
vinput {
    font-family: inherit;
    box-shadow: none;
    -webkit-appearance: none
}

select {
    position: relative;
    padding: .8rem;
    padding-right: 2.4rem;
    font-size: 1.6rem;
    color: #82817d;
    background-color: transparent;
    border: 0;
    border-radius: .4rem;
    outline: none;
    background-image: url("../images/form-carrot.svg");
    background-repeat: no-repeat;
    background-position: right 1rem center
}

input[type=radio] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio
}

input[type=checkbox] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox
}

input[type=email],
input[type=number],
input[type=password],
input[type=text] {
    border: 1px solid #e7e6e4;
    padding: 1.5rem;
    font-family: Calibre;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: .5rem;
    outline: none
}

input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=text]:focus {
    border-color: #ff9b6a
}

input[type=email].is-invalid,
input[type=number].is-invalid,
input[type=password].is-invalid,
input[type=text].is-invalid {
    border-color: #f39db4
}

button {
    cursor: pointer
}

.Button,
a.Button {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0 1.8rem;
    height: 4.8rem;
    background: #fff;
    color: #2a2825;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    border: 2px solid #f3f1ee;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .2s cubic-bezier(.06, .67, .37, .99);
    outline: none;
    vertical-align: top
}

.Button:focus,
.Button:hover,
a.Button:focus,
a.Button:hover {
    border: 2px solid #e7e6e4;
    box-shadow: 0 .2rem 0 0 #e7e6e4;
    -webkit-transform: translateY(-.2rem);
    transform: translateY(-.2rem)
}

.Button:active,
a.Button:active {
    box-shadow: none;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.Button--full,
a.Button--full {
    width: 100%
}

.Button--wide,
a.Button--wide {
    padding: 0 3.2rem
}

.Button--large,
a.Button--large {
    height: 5.6rem
}

.Button--larger,
a.Button--larger {
    height: 6.2rem;
    padding: 0 2.4rem;
    font-size: 2rem
}

.Button--largest,
a.Button--largest {
    height: 7rem;
    padding: 0 3.2rem;
    font-size: 2.2rem
}

.Button--icon,
a.Button--icon {
    padding: 0 1.5rem 0 3.52rem
}

.Button--buy,
.Button--love,
a.Button--buy,
a.Button--love {
    --color-main: #e37ad3;
    --color-shadow: #d850b1;
    background-color: var(--color-main);
    color: #fff;
    font-weight: 500;
    border: .2rem solid #0b0b0b;
    box-shadow: inset 0 0 0 .3rem var(--color-shadow)
}

.Button--buy:focus,
.Button--buy:hover,
.Button--love:focus,
.Button--love:hover,
a.Button--buy:focus,
a.Button--buy:hover,
a.Button--love:focus,
a.Button--love:hover {
    border: .2rem solid #0b0b0b;
    box-shadow: inset 0 0 0 .3rem var(--color-shadow), 0 .4rem 0 0 #e7e6e4;
    -webkit-transform: translateY(-.2rem);
    transform: translateY(-.2rem)
}

.Button--buy:active,
.Button--love:active,
a.Button--buy:active,
a.Button--love:active {
    box-shadow: inset 0 0 0 .3rem var(--color-shadow);
    -webkit-transform: translateY(.2rem);
    transform: translateY(.2rem)
}

.Button--cta,
a.Button--cta {
    box-shadow: inset 0 0 0 .4rem var(--color-shadow), 0 .4rem 0 0 #e7e6e4
}

.Button--cta:focus,
.Button--cta:hover,
a.Button--cta:focus,
a.Button--cta:hover {
    box-shadow: inset 0 0 0 .4rem var(--color-shadow), 0 .5rem 0 0 #e7e6e4;
    -webkit-transform: translateY(-.2rem);
    transform: translateY(-.2rem)
}

.Button--cta:active,
a.Button--cta:active {
    box-shadow: inset 0 0 0 .4rem var(--color-shadow);
    -webkit-transform: translateY(.3rem);
    transform: translateY(.3rem)
}

.Button--buy,
a.Button--buy {
    --color-main: #fba371;
    --color-shadow: #ff844b
}

.Button-icon,
a.Button-icon {
    position: absolute;
    top: 50%;
    left: 1.2rem;
    height: 1.6rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.Button-number,
a.Button-number {
    margin-left: .8rem;
    color: #ff9b6a
}

.Button--disabled,
.Button[disabled],
a.Button--disabled,
a.Button[disabled] {
    opacity: .5;
    color: #82817d;
    pointer-events: none;
    cursor: not-allowed
}

.Button--disabled:active,
.Button--disabled:focus,
.Button--disabled:hover,
.Button[disabled]:active,
.Button[disabled]:focus,
.Button[disabled]:hover,
a.Button--disabled:active,
a.Button--disabled:focus,
a.Button--disabled:hover,
a.Button[disabled]:active,
a.Button[disabled]:focus,
a.Button[disabled]:hover {
    box-shadow: none;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.Button--love.Button--disabled,
.Button--love[disabled] {
    color: #fff
}

input[type=number].Number {
    position: relative;
    width: 9rem;
    color: #9c9c9b;
    font-size: 1.8rem;
    border: .2rem solid #f3f1ee
}

input[type=number].Number:active,
input[type=number].Number:focus,
input[type=number].Number:hover {
    color: #2a2825;
    border: .2rem solid #e7e6e4
}

input[type=number].Number::-webkit-inner-spin-button,
input[type=number].Number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-left: 2px solid #f3f1ee;
    position: absolute;
    width: 1.5rem;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #f9f8f6;
    background-image: url("/images/form-value-bg.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 2rem auto;
    opacity: 1;
    cursor: pointer
}

input[type=number].Number--small {
    font-size: 1.4rem
}

.u-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.u-flex>div {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    margin: 0 1rem
}

.u-color-dark {
    color: #2a2825
}

.u-center {
    text-align: center
}

.u-left {
    text-align: left
}

.u-right {
    text-align: right
}

.u-margin-bottom-xs {
    margin-bottom: .8rem
}

.u-margin-bottom-sm {
    margin-bottom: 1.5rem
}

.u-margin-bottom-md {
    margin-bottom: 2.4rem
}

.u-margin-top-md {
    margin-top: 2.4rem
}

.u-margin-top-lg {
    margin-top: 3.2rem
}

.u-margin-bottom-lg {
    margin-bottom: 3.2rem
}

.u-margin-bottom-xl {
    margin-bottom: 6.4rem
}

.u-margin-right-xs {
    margin-right: .8rem
}

.u-link-text {
    color: #82817d;
    border-bottom: .2rem solid #f3f1ee;
    cursor: pointer;
    transition: border .25s, color .25s
}

.u-link-text:hover {
    color: #2a2825;
    border-color: #82817d
}

.u-color-coral {
    color: #45f0f4
}

.u-bg-coral {
    background-color: #45f0f4
}

.u-color-babyblue {
    color: #4eb4f9
}

.u-bg-babyblue {
    background-color: #4eb4f9
}

.u-color-topaz {
    color: #0ba09c
}

.u-bg-topaz {
    background-color: #0ba09c
}

.u-color-mintgreen {
    color: #43edac
}

.u-bg-mintgreen {
    background-color: #43edac
}

.u-color-limegreen {
    color: #aef72f
}

.u-bg-limegreen {
    background-color: #aef72f
}

.u-color-babypuke {
    color: #bcba5e
}

.u-bg-babypuke {
    background-color: #bcba5e
}

.u-color-chestnut {
    color: #a56429
}

.u-bg-chestnut {
    background-color: #a56429
}

.u-color-strawberry {
    color: #ef4b62
}

.u-bg-strawberry {
    background-color: #ef4b62
}

.u-color-pumpkin {
    color: #ffa039
}

.u-bg-pumpkin {
    background-color: #ffa039
}

.u-color-gold {
    color: #fcdf35
}

.u-bg-gold {
    background-color: #fcdf35
}

.u-color-sizzurp {
    color: #7c40ff
}

.u-bg-sizzurp {
    background-color: #7c40ff
}

.u-color-bubblegum {
    color: #ef52d1
}

.u-bg-bubblegum {
    background-color: #ef52d1
}

.u-color-violet {
    color: #ba8aff
}

.u-bg-violet {
    background-color: #ba8aff
}

.u-color-thundergrey {
    color: #828282
}

.u-bg-thundergrey {
    background-color: #828282
}

.u-color-alt-coral {
    color: #c5eefa
}

.u-bg-alt-coral {
    background-color: #c5eefa
}

.u-color-alt-babyblue {
    color: #dcebfc
}

.u-bg-alt-babyblue {
    background-color: #dcebfc
}

.u-color-alt-topaz {
    color: #d1eeeb
}

.u-bg-alt-topaz {
    background-color: #d1eeeb
}

.u-color-alt-mintgreen {
    color: #cdf5d4
}

.u-bg-alt-mintgreen {
    background-color: #cdf5d4
}

.u-color-alt-limegreen {
    color: #d9f5cb
}

.u-bg-alt-limegreen {
    background-color: #d9f5cb
}

.u-color-alt-babypuke {
    color: #eff1e0
}

.u-bg-alt-babypuke {
    background-color: #eff1e0
}

.u-color-alt-chestnut {
    color: #efe1da
}

.u-bg-alt-chestnut {
    background-color: #efe1da
}

.u-color-alt-strawberry {
    color: #fcdede
}

.u-bg-alt-strawberry {
    background-color: #fcdede
}

.u-color-alt-pumpkin {
    color: #fae1ca
}

.u-bg-alt-pumpkin {
    background-color: #fae1ca
}

.u-color-alt-gold {
    color: #faf4cf
}

.u-bg-alt-gold {
    background-color: #faf4cf
}

.u-color-alt-sizzurp {
    color: #dfdffa
}

.u-bg-alt-sizzurp {
    background-color: #dfdffa
}

.u-color-alt-bubblegum {
    color: #fadff4
}

.u-bg-alt-bubblegum {
    background-color: #fadff4
}

.u-color-alt-violet {
    color: #ede2f5
}

.u-bg-alt-violet {
    background-color: #ede2f5
}

.u-color-alt-thundergrey {
    color: #eee9e8
}

.u-bg-alt-thundergrey {
    background-color: #eee9e8
}

.u-spin {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: spin 1.2s linear infinite;
    animation: spin 1.2s linear infinite
}

.u-spin--slow {
    -webkit-animation-duration: 6s;
    animation-duration: 6s
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}