
.Header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    padding-top: .8rem;
    padding-bottom: .8rem;
    z-index: 2
}

@media (min-width:760px) {
    .Header {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem
    }
}

@media (min-width:960px) {
    .Header {
        padding-top: 2.4rem;
        padding-bottom: 2.4rem
    }
}

.Header-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 1.5rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
}

.Header-home:hover .Header-logo {
    background-image: url("../icons/logo-hover.gif")
}

@media (min-width:480px) {
    .Header-home {
        margin: 0;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto
    }
}

.Header-logo {
    width: 3rem;
    height: 4rem;
    background-image: url("../icons/logo.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain
}

@media (min-width:480px) {
    .Header-logo {
        width: 4rem;
        height: 5.3rem
    }
}

.Header-logo:after {
    content: "";
    background-image: url("../icons/logo-hover.gif")
}

.Header-wordmark {
    margin: 0;
    padding-left: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1
}

@media (min-width:960px) {
    .Header-wordmark {
        font-size: 2rem
    }
}

@media (min-width:1200px) {
    .Header-wordmark {
        font-size: 2.4rem
    }
}

.Header-subTitle {
    margin: 0;
    padding: 0;
    color: #82817d;
    font-style: italic;
    text-transform: lowercase
}

.Header-networkStatus {
    display: none;
    margin: 0 2.4rem
}

@media (min-width:760px) {
    .Header-networkStatus {
        display: block
    }
}

.Header-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1.5rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

@media (min-width:480px) {
    .Header-navigation {
        margin-bottom: 0;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
}

.Header-navigation-item {
    margin-left: 1.8rem;
    padding: .3rem 0;
    font-size: 1.4rem;
    color: #0b0b0b;
    font-weight: 500;
    transition: all .2s
}

.Header-navigation-item:first-child {
    margin-left: 0
}

@media (min-width:760px) {
    .Header-navigation-item {
        font-size: 1.6rem
    }
}

@media (min-width:960px) {
    .Header-navigation-item {
        font-size: 2rem
    }
}

@media (min-width:1200px) {
    .Header-navigation-item {
        margin-left: 3rem
    }
}

.Header-navigation-item:hover {
    color: #e96bd4
}

.Header-navigation-item--bell img {
    -webkit-transform: translateY(.4rem);
    transform: translateY(.4rem)
}

.Header-navigation-item--active {
    box-shadow: 0 .2rem 0 0 #ef52d1
}

.Header-navigation-icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 1.6rem;
    width: 1.6rem;
    margin-left: 1.8rem
}

.Header-navigation-icon img {
    width: 100%
}

@media (min-width:1200px) {
    .Header-navigation-icon {
        margin-left: 3rem
    }
}
