.CopyAddress {
    --color: #82817d;
    --color-border: #f3f1ee;
    position: relative;
    color: var(--color);
    padding-bottom: .2rem;
    border-bottom: .2rem solid var(--color-border);
    cursor: pointer;
    transition: border-bottom .25s, color .25s
}

.CopyAddress:hover {
    --color: #2a2825;
    --color-border: #82817d
}

.CopyAddress-tooltip {
    position: absolute;
    top: 50%;
    left: calc(100% + 1.5rem);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
