.Filter {
    --accent-color: #e96bd4;
    border-bottom: 2px solid #f3f1ee
}

.Filter-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 112rem;
    padding: 0 2.4rem;
    margin: 0 auto -.2rem
}

@media (min-width:760px) {
    .Filter-container {
        padding: 0 3.2rem;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
}

.Filter-tabs {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center
}

@media (min-width:760px) {
    .Filter-tabs {
        text-align: left
    }
}

.Filter-sortBy {
    display: none;
    color: #9c9c9b;
    font-weight: 500;
    font-size: 1.8rem
}

@media (min-width:760px) {
    .Filter-sortBy {
        display: block;
        width: auto;
        white-space: nowrap
    }
}

.Filter-selectors {
    width: 100%
}

@media (min-width:760px) {
    .Filter-selectors {
        width: auto
    }
}

.Filter-tab {
    display: inline-block;
    padding: 1.5rem 0;
    margin-right: 2.4rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #9c9c9b;
    cursor: pointer;
    transition: all .25s
}

@media (min-width:760px) {
    .Filter-tab {
        padding: 2.4rem 0;
        margin-right: 3.84rem;
        font-size: 2rem
    }
}

@media (min-width:960px) {
    .Filter-tab {
        font-size: 2.4rem
    }
}

.Filter-tab--active {
    color: #2a2825;
    border-bottom: .2rem solid var(--accent-color)
}

.Filter-select {
    margin-top: 1rem;
    padding: 1.3rem 1.8rem;
    padding-right: 3.75rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #2a2825;
    border: 2px solid #f3f1ee;
    border-radius: 99rem;
    background-position: right 1.8rem center;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all .2s;
    width: 100%
}

.Filter-select:hover {
    border-color: #e7e6e4;
    box-shadow: 0 .2rem 0 0 #e7e6e4;
    -webkit-transform: translateY(-.2rem);
    transform: translateY(-.2rem)
}

.Filter-select:focus {
    border-color: #e7e6e4;
    box-shadow: none;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

@media (min-width:760px) {
    .Filter-select {
        width: auto;
        margin-top: 0;
        margin-left: 1rem
    }
}

.Filter--orange {
    --accent-color: #ff9b6a
}

.Filter--purple {
    --accent-color: #e96bd4
}






.KittiesFilter-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.KittiesFilter-header:last-child {
    margin-bottom: 0
}

.KittiesFilter-header-count,
.KittiesFilter-header-toggle {
    color: #9c9c9b;
    font-size: 1.6rem;
    font-weight: 500;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
}

@media (min-width:320px) {
    .KittiesFilter-header-count,
    .KittiesFilter-header-toggle {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto
    }
}

.KittiesFilter-header-toggle {
    cursor: pointer;
    transition: color .25s
}

.KittiesFilter-header-toggle-icon {
    margin-right: 1.5rem
}

.KittiesFilter-header-toggle-icon g {
    stroke: #9c9c9b;
    transition: stroke .25s
}

.KittiesFilter--expanded .KittiesFilter-header-toggle,
.KittiesFilter--someFiltered .KittiesFilter-header-toggle {
    color: #2a2825
}

.KittiesFilter--expanded .KittiesFilter-header-toggle-icon g,
.KittiesFilter--someFiltered .KittiesFilter-header-toggle-icon g {
    stroke: #ef52d1
}

.KittiesFilter-groups {
    margin-top: 1.5rem
}

@media (min-width:760px) {
    .KittiesFilter-groups {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: 2.4rem
    }
}

.KittiesFilter-group {
    margin-bottom: 1.5rem
}

.KittiesFilter-group:last-child {
    margin-bottom: 0
}

@media (min-width:760px) {
    .KittiesFilter-group {
        margin-bottom: 0;
        margin-right: 2.4rem
    }
    .KittiesFilter-group:last-child {
        margin-right: 0
    }
}

.KittiesFilter-group-title {
    margin-bottom: .8rem;
    color: #2a2825;
    font-size: 2rem;
    font-weight: 500
}

.KittiesFilter-list {
    list-style: none;
    margin: 0;
    padding: 0
}

.KittiesFilter-list-groups {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.KittiesFilter-list-group {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin: 0 6.4rem 0 0
}

.KittiesFilter-list-item {
    display: block;
    color: #9c9c9b;
    font-size: 1.6rem;
    font-weight: 500;
    transition: color .25s
}

.KittiesFilter-list-item--isActive {
    color: #ef52d1
}

.KittiesFilter-list-button {
    cursor: pointer
}

.KittiesFilter-number-reset-button {
    color: #9c9c9b;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer
}

.KittiesFilter-number-reset-button--isDisabled {
    color: #e7e6e4
}



.BrowseFilterBar-filterResults {
    max-width: 112rem;
    padding: 1.5rem 2.4rem;
    margin: 0 auto -.2rem
}

@media (min-width:760px) {
    .BrowseFilterBar-filterResults {
        padding: 3.2rem 3.2rem 0
    }
}