
.InvitePage-subtitle {
    font-size: 2rem;
    margin-bottom: 2.4rem
}

.InvitePage-email {
    margin-bottom: 1.5rem
}

.InvitePage-ethKitty {
    max-width: 25rem;
    margin: 6.4rem auto 3.2rem
}

