.KittyAuction-title {
    margin: 0 0 2.4rem;
    font-size: 2.8rem;
    text-align: center
}

.KittyAuction-title .Icon {
    margin-right: .8rem
}

.KittyAuction-description {
    margin-bottom: 3.2rem;
    text-align: center
}
.KittyPage-content {
    padding: 3.2rem 0 6.4rem
}

@media (min-width:760px) {
    .KittyPage-content {
        padding: 6.4rem 0
    }
}

.KittySelectModal {
    height: 75vh;
    width: 100%;
    background-color: #fff;
    overflow: auto
}

.KittySelectModal-header {
    padding: 2.4rem 0
}

.KittySelectModal-title {
    margin: 0 0 .8rem;
    padding: 0;
    font-size: 3.2rem
}

.KittySelectModal-subtitle {
    margin: 0;
    padding: 0;
    font-size: 2rem
}

.KittySelectModal-close {
    position: absolute;
    z-index: 2;
    display: block;
    right: 3rem;
    top: 2rem;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url("/icons/cross.svg");
    background-size: contain;
    opacity: .3
}

.KittySelectModal-close:hover {
    opacity: .7
}

.KittySelectModal-grid {
    --num-columns: 1;
    display: -ms-grid;
    display: grid;
    grid-gap: 1.5rem;
    -ms-grid-columns: (1fr)(var);
    grid-template-columns: repeat(var(--num-columns), 1fr)
}

@media (min-width:480px) {
    .KittySelectModal-grid {
        --num-columns: 2
    }
}

@media (min-width:760px) {
    .KittySelectModal-grid {
        --num-columns: 3;
        --num-columns: 4
    }
}

.KittyStatus {
    position: relative;
    display: inline-block;
    padding: .5rem 1rem 0;
    height: 3rem;
    border-radius: 3.2rem;
    color: #0b0b0b;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: hsla(0, 0%, 100%, .4);
    background-blend-mode: soft-light;
    white-space: nowrap
}

.KittyStatus:after {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: .5rem .4rem 0;
    border-color: hsla(0, 0%, 100%, .4) transparent transparent;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    content: ""
}

.KittyStatus-item {
    display: inline-block;
    padding-left: .8rem
}

.KittyStatus-item:first-child {
    padding: 0
}

.KittyStatus-itemIcon {
    vertical-align: sub
}

.KittyStatus-itemText {
    padding-left: .8rem;
    padding-right: .5rem;
    display: inline-block;
    cursor: default
}

.KittyStatus-note {
    margin-left: .5rem;
    opacity: .5
}

.KittyStatus--multiple .KittyStatus-item>.KittyStatus-itemText {
    max-width: 0;
    padding: 0;
    overflow: hidden;
    vertical-align: top;
    transition: max-width .4s cubic-bezier(.06, .67, .37, .99), padding .4s;
    transition-delay: .1s
}

.KittyStatus--multiple .KittyStatus-item:hover>.KittyStatus-itemText {
    max-width: 15rem;
    padding-left: .4rem
}

.KittyStatus--multiple .KittyStatus-item:hover:last-child>.KittyStatus-itemText {
    padding-right: .5rem
}

.KittyStatus--list {
    display: block;
    background-color: transparent;
    padding: 0;
    height: auto;
    width: 0;
    white-space: normal
}

.KittyStatus--list:after {
    display: none
}

.KittyStatus--list .KittyStatus-item {
    display: inline-block;
    position: relative;
    padding: .5rem 1rem 0;
    height: 3rem;
    margin-bottom: .6rem;
    background-color: hsla(0, 0%, 100%, .4);
    background-blend-mode: soft-light;
    border-radius: 3.2rem;
    white-space: nowrap
}

@media (min-width:960px) {
    .KittyStatus--list .KittyStatus-item {
        padding: .5rem 1.3rem 0;
        height: 3.4rem
    }
}

@media (min-width:960px) {
    .KittyStatus--list .KittyStatus-itemText {
        font-size: 1.6rem
    }
}

.KittyCard {
    --size-card: 22.5rem;
    --size-image: 16rem;
    --width-shadow: 8rem;
    --height-shadow: 1.1rem;
    --translate-image: 2%;
    --translate-shadow: 3.6rem;
    --padding-status: 0.8rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: var(--size-card);
    height: var(--size-card);
    background-color: #e0ebf2;
    cursor: pointer;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    transition: box-shadow .2s
}

.KittyCard:before {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: block;
    width: var(--width-shadow);
    height: var(--height-shadow);
    margin: auto;
    background-color: hsla(0, 0%, 4%, .1);
    background-blend-mode: soft-light;
    border-radius: 50%;
    -webkit-transform: translate(var(--translate-image), var(--translate-shadow));
    transform: translate(var(--translate-image), var(--translate-shadow));
    content: "";
    z-index: 1
}

.KittyCard.KittyCard--fancy:before,
.KittyCard.KittyCard--nullCat:before {
    display: none
}

.KittyCard.KittyCard--nullCat .KittyCard-image {
    opacity: .5
}

.KittyCard-wrapper {
    --box-shadow: inset 0 0 0 0 #fff
}

.KittyCard-wrapper:hover {
    --box-shadow: inset 0 0 0 0.4rem #fff
}

.KittyCard-wrapper:hover .KittyCard-status {
    -webkit-transform: translate(-50%, -42.5%);
    transform: translate(-50%, -42.5%)
}

.KittyCard-image {
    position: relative;
    width: var(--size-image);
    height: var(--size-image);
    -webkit-transform: translate(var(--translate-image));
    transform: translate(var(--translate-image));
    z-index: 2
}

.KittyCard-status {
    position: absolute;
    z-index: 3;
    top: 14%;
    left: 50%;
    padding: var(--padding-status);
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.KittyCard-name {
    overflow: hidden
}

.KittyCard-subname {
    width: 100%;
    height: 2.7rem;
    font-size: 1.8rem;
    color: #2a2825;
    overflow: hidden;
    text-overflow: ellipsis
}

.KittyCard-details {
    padding: .8rem .2rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #82817d
}

.KittyCard--thumbnail {
    --size-card: 12rem;
    --size-image: 12rem;
    --width-shadow: 4rem;
    --translate-shadow: 1.5rem;
    --translate-image: -3%
}

.KittyCard--thumbnail>.KittyCard-status,
.KittyCard--thumbnail~.KittyCard-details {
    display: none
}

.KittyCard--thumbnail:before {
    -webkit-transform: translate(calc(var(--translate-image) * 2), var(--translate-shadow));
    transform: translate(calc(var(--translate-image) * 2), var(--translate-shadow))
}

.KittyCard--thumbnail:hover {
    box-shadow: inset 0 0 0 .2rem #fff
}

.KittyCard--small {
    --size-card: 17rem;
    --size-image: 14rem;
    --width-shadow: 6.7rem;
    --translate-shadow: 3rem;
    --padding-status: 0.4rem
}

.KittyCard--small>.KittyCard-name {
    padding: .2rem .8rem
}

.KittyCard--large {
    --size-card: 34rem;
    --size-image: 25rem;
    --width-shadow: 12rem;
    --height-shadow: 1.5rem;
    --translate-shadow: 5.8rem
}

.KittyCard--large>.KittyCard-name {
    font-size: 1.8rem;
    padding: .4rem 1.5rem
}

.KittyCard--profile {
    --size-card: 20rem;
    --size-image: 20rem;
    --width-shadow: 10rem;
    --height-shadow: 1.5rem;
    --translate-shadow: 4.5rem;
    width: 100%;
    cursor: default
}

@media (min-width:760px) {
    .KittyCard--profile {
        --size-card: 25rem;
        --size-image: 30rem;
        --width-shadow: 14rem;
        --height-shadow: 2rem;
        --translate-shadow: 6.8rem;
        --padding-status: 1.5rem
    }
}

@media (min-width:960px) {
    .KittyCard--profile {
        --size-card: 30rem
    }
}

.KittyCard--profile>.KittyCard-name {
    display: none
}

.KittyCard--responsive {
    --size-card: 100%;
    --size-image: 88%;
    --width-shadow: 44%;
    --height-shadow: 6%;
    --translate-shadow: 370%;
    height: auto;
    padding-top: var(--size-card)
}

.KittyCard--responsive>.KittyCard-name {
    font-size: 1.8rem;
    padding: .4rem 1.5rem
}

@media (min-width:480px) {
    .KittyCard--responsive>.KittyCard-name {
        padding: .4rem .8rem;
        font-size: 1.4rem
    }
}

.KittyCard--responsive>.KittyCard-image {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-48%, -47%);
    transform: translate(-48%, -47%)
}

.KittyCard-newBadge {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 3.8rem;
    height: 3.8rem;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s
}

.KittyCard-wrapper:hover .KittyCard-newBadge {
    -webkit-transform: translate3d(.4rem, .4rem, 0);
    transform: translate3d(.4rem, .4rem, 0)
}

.KittiesGrid-item .KittyCard {
    opacity: 0;
    -webkit-transform: translateY(2.4rem);
    transform: translateY(2.4rem);
    -webkit-animation: kittyCardIn .25s cubic-bezier(.06, .67, .37, .99) forwards;
    animation: kittyCardIn .25s cubic-bezier(.06, .67, .37, .99) forwards
}

.KittiesGrid-item:first-child .KittyCard {
    -webkit-animation-delay: .05s;
    animation-delay: .05s
}

.KittiesGrid-item:nth-child(2) .KittyCard {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

.KittiesGrid-item:nth-child(3) .KittyCard {
    -webkit-animation-delay: .15s;
    animation-delay: .15s
}

.KittiesGrid-item:nth-child(4) .KittyCard {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.KittiesGrid-item:nth-child(5) .KittyCard {
    -webkit-animation-delay: .25s;
    animation-delay: .25s
}

.KittiesGrid-item:nth-child(6) .KittyCard {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.KittiesGrid-item:nth-child(7) .KittyCard {
    -webkit-animation-delay: .35s;
    animation-delay: .35s
}

.KittiesGrid-item:nth-child(8) .KittyCard {
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}

.KittiesGrid-item:nth-child(9) .KittyCard {
    -webkit-animation-delay: .45s;
    animation-delay: .45s
}

.KittiesGrid-item:nth-child(10) .KittyCard {
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}

.KittiesGrid-item:nth-child(11) .KittyCard {
    -webkit-animation-delay: .55s;
    animation-delay: .55s
}

.KittiesGrid-item:nth-child(12) .KittyCard {
    -webkit-animation-delay: .6s;
    animation-delay: .6s
}

.KittiesGrid-item:nth-child(13) .KittyCard {
    -webkit-animation-delay: .65s;
    animation-delay: .65s
}

.KittiesGrid-item:nth-child(14) .KittyCard {
    -webkit-animation-delay: .7s;
    animation-delay: .7s
}

.KittiesGrid-item:nth-child(15) .KittyCard {
    -webkit-animation-delay: .75s;
    animation-delay: .75s
}

.KittiesGrid-item:nth-child(16) .KittyCard {
    -webkit-animation-delay: .8s;
    animation-delay: .8s
}

.KittiesGrid-item:nth-child(17) .KittyCard {
    -webkit-animation-delay: .85s;
    animation-delay: .85s
}

.KittiesGrid-item:nth-child(18) .KittyCard {
    -webkit-animation-delay: .9s;
    animation-delay: .9s
}

.KittiesGrid-item:nth-child(19) .KittyCard {
    -webkit-animation-delay: .95s;
    animation-delay: .95s
}

.KittiesGrid-item:nth-child(20) .KittyCard {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}

.KittiesGrid-item:nth-child(21) .KittyCard {
    -webkit-animation-delay: 1.05s;
    animation-delay: 1.05s
}

.KittiesGrid-item:nth-child(22) .KittyCard {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s
}

.KittiesGrid-item:nth-child(23) .KittyCard {
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s
}

.KittiesGrid-item:nth-child(24) .KittyCard {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s
}

.KittiesGrid-item:nth-child(25) .KittyCard {
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s
}

.KittiesGrid-item:nth-child(26) .KittyCard {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s
}

.KittiesGrid-item:nth-child(27) .KittyCard {
    -webkit-animation-delay: 1.35s;
    animation-delay: 1.35s
}

.KittiesGrid-item:nth-child(28) .KittyCard {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s
}

.KittiesGrid-item:nth-child(29) .KittyCard {
    -webkit-animation-delay: 1.45s;
    animation-delay: 1.45s
}

.KittiesGrid-item:nth-child(30) .KittyCard {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s
}

.KittiesGrid-item:nth-child(31) .KittyCard {
    -webkit-animation-delay: 1.55s;
    animation-delay: 1.55s
}

.KittiesGrid-item:nth-child(32) .KittyCard {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s
}

.KittiesGrid-item:nth-child(33) .KittyCard {
    -webkit-animation-delay: 1.65s;
    animation-delay: 1.65s
}

.KittiesGrid-item:nth-child(34) .KittyCard {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s
}

.KittiesGrid-item:nth-child(35) .KittyCard {
    -webkit-animation-delay: 1.75s;
    animation-delay: 1.75s
}

.KittiesGrid-item:nth-child(36) .KittyCard {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s
}

.KittiesGrid-item:nth-child(37) .KittyCard {
    -webkit-animation-delay: 1.85s;
    animation-delay: 1.85s
}

.KittiesGrid-item:nth-child(38) .KittyCard {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s
}

.KittiesGrid-item:nth-child(39) .KittyCard {
    -webkit-animation-delay: 1.95s;
    animation-delay: 1.95s
}

.KittiesGrid-item:nth-child(40) .KittyCard {
    -webkit-animation-delay: 2s;
    animation-delay: 2s
}

.KittiesGrid-item:nth-child(41) .KittyCard {
    -webkit-animation-delay: 2.05s;
    animation-delay: 2.05s
}

.KittiesGrid-item:nth-child(42) .KittyCard {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s
}

.KittiesGrid-item:nth-child(43) .KittyCard {
    -webkit-animation-delay: 2.15s;
    animation-delay: 2.15s
}

.KittiesGrid-item:nth-child(44) .KittyCard {
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s
}

.KittiesGrid-item:nth-child(45) .KittyCard {
    -webkit-animation-delay: 2.25s;
    animation-delay: 2.25s
}

.KittiesGrid-item:nth-child(46) .KittyCard {
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s
}

.KittiesGrid-item:nth-child(47) .KittyCard {
    -webkit-animation-delay: 2.35s;
    animation-delay: 2.35s
}

.KittiesGrid-item:nth-child(48) .KittyCard {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s
}

.KittiesGrid-item:nth-child(49) .KittyCard {
    -webkit-animation-delay: 2.45s;
    animation-delay: 2.45s
}

.KittiesGrid-item:nth-child(50) .KittyCard {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s
}

.KittiesGrid-item:nth-child(51) .KittyCard {
    -webkit-animation-delay: 2.55s;
    animation-delay: 2.55s
}

.KittiesGrid-item:nth-child(52) .KittyCard {
    -webkit-animation-delay: 2.6s;
    animation-delay: 2.6s
}

.KittiesGrid-item:nth-child(53) .KittyCard {
    -webkit-animation-delay: 2.65s;
    animation-delay: 2.65s
}

.KittiesGrid-item:nth-child(54) .KittyCard {
    -webkit-animation-delay: 2.7s;
    animation-delay: 2.7s
}

.KittiesGrid-item:nth-child(55) .KittyCard {
    -webkit-animation-delay: 2.75s;
    animation-delay: 2.75s
}

.KittiesGrid-item:nth-child(56) .KittyCard {
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s
}

.KittiesGrid-item:nth-child(57) .KittyCard {
    -webkit-animation-delay: 2.85s;
    animation-delay: 2.85s
}

.KittiesGrid-item:nth-child(58) .KittyCard {
    -webkit-animation-delay: 2.9s;
    animation-delay: 2.9s
}

.KittiesGrid-item:nth-child(59) .KittyCard {
    -webkit-animation-delay: 2.95s;
    animation-delay: 2.95s
}

.KittiesGrid-item:nth-child(60) .KittyCard {
    -webkit-animation-delay: 3s;
    animation-delay: 3s
}

.KittiesGrid-item:nth-child(61) .KittyCard {
    -webkit-animation-delay: 3.05s;
    animation-delay: 3.05s
}

.KittiesGrid-item:nth-child(62) .KittyCard {
    -webkit-animation-delay: 3.1s;
    animation-delay: 3.1s
}

.KittiesGrid-item:nth-child(63) .KittyCard {
    -webkit-animation-delay: 3.15s;
    animation-delay: 3.15s
}

.KittiesGrid-item:nth-child(64) .KittyCard {
    -webkit-animation-delay: 3.2s;
    animation-delay: 3.2s
}

.KittiesGrid-item:nth-child(65) .KittyCard {
    -webkit-animation-delay: 3.25s;
    animation-delay: 3.25s
}

.KittiesGrid-item:nth-child(66) .KittyCard {
    -webkit-animation-delay: 3.3s;
    animation-delay: 3.3s
}

.KittiesGrid-item:nth-child(67) .KittyCard {
    -webkit-animation-delay: 3.35s;
    animation-delay: 3.35s
}

.KittiesGrid-item:nth-child(68) .KittyCard {
    -webkit-animation-delay: 3.4s;
    animation-delay: 3.4s
}

.KittiesGrid-item:nth-child(69) .KittyCard {
    -webkit-animation-delay: 3.45s;
    animation-delay: 3.45s
}

.KittiesGrid-item:nth-child(70) .KittyCard {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s
}

.KittiesGrid-item:nth-child(71) .KittyCard {
    -webkit-animation-delay: 3.55s;
    animation-delay: 3.55s
}

.KittiesGrid-item:nth-child(72) .KittyCard {
    -webkit-animation-delay: 3.6s;
    animation-delay: 3.6s
}

.KittiesGrid-item:nth-child(73) .KittyCard {
    -webkit-animation-delay: 3.65s;
    animation-delay: 3.65s
}

.KittiesGrid-item:nth-child(74) .KittyCard {
    -webkit-animation-delay: 3.7s;
    animation-delay: 3.7s
}

.KittiesGrid-item:nth-child(75) .KittyCard {
    -webkit-animation-delay: 3.75s;
    animation-delay: 3.75s
}

.KittiesGrid-item:nth-child(76) .KittyCard {
    -webkit-animation-delay: 3.8s;
    animation-delay: 3.8s
}

.KittiesGrid-item:nth-child(77) .KittyCard {
    -webkit-animation-delay: 3.85s;
    animation-delay: 3.85s
}

.KittiesGrid-item:nth-child(78) .KittyCard {
    -webkit-animation-delay: 3.9s;
    animation-delay: 3.9s
}

.KittiesGrid-item:nth-child(79) .KittyCard {
    -webkit-animation-delay: 3.95s;
    animation-delay: 3.95s
}

.KittiesGrid-item:nth-child(80) .KittyCard {
    -webkit-animation-delay: 4s;
    animation-delay: 4s
}

.KittiesGrid-item:nth-child(81) .KittyCard {
    -webkit-animation-delay: 4.05s;
    animation-delay: 4.05s
}

.KittiesGrid-item:nth-child(82) .KittyCard {
    -webkit-animation-delay: 4.1s;
    animation-delay: 4.1s
}

.KittiesGrid-item:nth-child(83) .KittyCard {
    -webkit-animation-delay: 4.15s;
    animation-delay: 4.15s
}

.KittiesGrid-item:nth-child(84) .KittyCard {
    -webkit-animation-delay: 4.2s;
    animation-delay: 4.2s
}

.KittiesGrid-item:nth-child(85) .KittyCard {
    -webkit-animation-delay: 4.25s;
    animation-delay: 4.25s
}

.KittiesGrid-item:nth-child(86) .KittyCard {
    -webkit-animation-delay: 4.3s;
    animation-delay: 4.3s
}

.KittiesGrid-item:nth-child(87) .KittyCard {
    -webkit-animation-delay: 4.35s;
    animation-delay: 4.35s
}

.KittiesGrid-item:nth-child(88) .KittyCard {
    -webkit-animation-delay: 4.4s;
    animation-delay: 4.4s
}

.KittiesGrid-item:nth-child(89) .KittyCard {
    -webkit-animation-delay: 4.45s;
    animation-delay: 4.45s
}

.KittiesGrid-item:nth-child(90) .KittyCard {
    -webkit-animation-delay: 4.5s;
    animation-delay: 4.5s
}

.KittiesGrid-item:nth-child(91) .KittyCard {
    -webkit-animation-delay: 4.55s;
    animation-delay: 4.55s
}

.KittiesGrid-item:nth-child(92) .KittyCard {
    -webkit-animation-delay: 4.6s;
    animation-delay: 4.6s
}

.KittiesGrid-item:nth-child(93) .KittyCard {
    -webkit-animation-delay: 4.65s;
    animation-delay: 4.65s
}

.KittiesGrid-item:nth-child(94) .KittyCard {
    -webkit-animation-delay: 4.7s;
    animation-delay: 4.7s
}

.KittiesGrid-item:nth-child(95) .KittyCard {
    -webkit-animation-delay: 4.75s;
    animation-delay: 4.75s
}

.KittiesGrid-item:nth-child(96) .KittyCard {
    -webkit-animation-delay: 4.8s;
    animation-delay: 4.8s
}

.KittiesGrid-item:nth-child(97) .KittyCard {
    -webkit-animation-delay: 4.85s;
    animation-delay: 4.85s
}

.KittiesGrid-item:nth-child(98) .KittyCard {
    -webkit-animation-delay: 4.9s;
    animation-delay: 4.9s
}

.KittiesGrid-item:nth-child(99) .KittyCard {
    -webkit-animation-delay: 4.95s;
    animation-delay: 4.95s
}

.KittiesGrid-item:nth-child(100) .KittyCard {
    -webkit-animation-delay: 5s;
    animation-delay: 5s
}

@-webkit-keyframes kittyCardIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2.4rem);
        transform: translateY(2.4rem)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes kittyCardIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2.4rem);
        transform: translateY(2.4rem)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.KittiesGrid {
    --num-columns: 1;
    --size-gap: 1.5rem;
    display: -ms-grid;
    display: grid;
    grid-gap: var(--size-gap);
    -ms-grid-columns: (1fr)(var);
    grid-template-columns: repeat(var(--num-columns), 1fr)
}

@media (min-width:480px) {
    .KittiesGrid {
        --num-columns: 2
    }
}

@media (min-width:760px) {
    .KittiesGrid {
        --num-columns: 3;
        --size-gap: 1.8rem
    }
}

@media (min-width:960px) {
    .KittiesGrid {
        --num-columns: 4
    }
}

.KittiesGrid--colspan-1 {
    -ms-grid-columns: (1fr)(1);
    grid-template-columns: repeat(1, 1fr)
}

.KittiesGrid--colspan-2 {
    -ms-grid-columns: (1fr)(2);
    grid-template-columns: repeat(2, 1fr)
}

.KittiesGrid--colspan-3 {
    -ms-grid-columns: (1fr)(3);
    grid-template-columns: repeat(3, 1fr)
}

.KittiesGrid--colspan-4 {
    -ms-grid-columns: (1fr)(4);
    grid-template-columns: repeat(4, 1fr)
}

.KittiesGrid-item {
    min-width: 0;
    min-height: 0
}

.KittiesGallery {
    margin: 2.4rem auto 0
}

@media (min-width:760px) {
    .KittiesGallery {
        margin: 3.2rem auto 0
    }
}


.KittyShareModal {
    position: relative
}

.KittyShareModal-image {
    width: 50rem;
    max-width: 100%;
    margin-top: -1px
}

.KittyShareModal-description {
    font-size: 1.8rem
}

.KittyShareModal-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.KittyShareModal-button {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.KittyShareModal-button:last-child {
    margin-left: 1.5rem
}

.KittyShareModal-close {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url("/icons/cross.svg");
    opacity: .3
}

.KittyShareModal-close:hover {
    opacity: .7
}

.KittyBanner {
    --size-card: 32rem;
    --size-image: 32rem;
    --width-shadow: 12.5rem;
    --height-shadow: 1.8rem;
    --translate-shadow-x: -0.3rem;
    --translate-shadow-y: 5.8rem;
    width: 100%;
    background-color: #e0ebf2;
    cursor: default;
    overflow: hidden
}

@media (min-width:960px) {
    .KittyBanner {
        --size-card: 45rem;
        --size-image: 45rem;
        --width-shadow: 22rem;
        --height-shadow: 3rem;
        --translate-shadow-x: -0.5rem;
        --translate-shadow-y: 9.8rem
    }
}

.KittyBanner-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: var(--size-card);
    margin: 0 auto
}

.KittyBanner-container:before {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: block;
    width: var(--width-shadow);
    height: var(--height-shadow);
    margin: auto;
    background-color: hsla(0, 0%, 4%, .1);
    background-blend-mode: soft-light;
    border-radius: 50%;
    -webkit-transform: translate(var(--translate-shadow-x), var(--translate-shadow-y));
    transform: translate(var(--translate-shadow-x), var(--translate-shadow-y));
    content: "";
    z-index: 1
}

.KittyBanner.KittyBanner--fancy .KittyBanner-container:before,
.KittyBanner.KittyBanner--nullCat .KittyBanner-container:before {
    display: none
}

.KittyBanner.KittyBanner--nullCat .KittyBanner-image {
    opacity: .5
}

.KittyBanner-image {
    position: relative;
    width: var(--size-image);
    height: var(--size-image);
    transition: -webkit-transform .3s cubic-bezier(.06, .67, .37, .99);
    transition: transform .3s cubic-bezier(.06, .67, .37, .99);
    transition: transform .3s cubic-bezier(.06, .67, .37, .99), -webkit-transform .3s cubic-bezier(.06, .67, .37, .99);
    z-index: 2
}

.KittyBanner-status {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2.4rem 0;
    z-index: 3
}

.KittyBanner-share {
    position: absolute;
    top: 2.4rem;
    right: 0;
    z-index: 3
}

.KittyBanner-shareBtn {
    cursor: pointer;
    transition: -webkit-transform .3s cubic-bezier(.06, .67, .37, .99);
    transition: transform .3s cubic-bezier(.06, .67, .37, .99);
    transition: transform .3s cubic-bezier(.06, .67, .37, .99), -webkit-transform .3s cubic-bezier(.06, .67, .37, .99)
}

.KittyBanner-shareBtn:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.KittyBanner-shareBtn:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

.KittySection {
    margin: 0 0 3.2rem
}

@media (min-width:760px) {
    .KittySection {
        margin: 0 0 4rem
    }
}

.KittySection:last-child {
    margin: 0
}

.KittySection-heading {
    margin: 0 0 .8rem;
    font-size: 2.4rem;
    font-weight: 500
}

.KittyTransferModal {
    position: relative
}

.KittyTransferModal-image {
    width: 50rem;
    max-width: 100%;
    margin-top: -1px
}

.KittyTransferModal-description {
    font-size: 1.8rem
}

.KittyTransferModal-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.KittyTransferModal-button {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.KittyTransferModal-button:last-child {
    margin-left: 1.5rem
}

.KittyTransferModal-close {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url("/icons/cross.svg");
    opacity: .3
}

.KittyTransferModal-close:hover {
    opacity: .7
}
@media (min-width:760px) {
    .KittyHeader {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

.KittyHeader-main {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: 2.4rem;
    min-width: 0
}

@media (min-width:760px) {
    .KittyHeader-main {
        margin-bottom: 0;
        margin-right: 6.4rem
    }
}

.KittyHeader-name {
    overflow: hidden
}

.KittyHeader-name-text {
    display: inline-block;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: .6rem;
    max-width: 100%;
    color: #0b0b0b;
    font-size: 2.8rem;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap
}

@media (min-width:760px) {
    .KittyHeader-name-text {
        font-size: 4.2rem
    }
}

.KittyHeader-name-text--editable {
    position: relative;
    cursor: pointer;
    transition: color .2s
}

.KittyHeader-name-text--editable:after {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    background-image: url("/icons/pencil.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-transform: translate(100%, -50%);
    transform: translate(100%, -50%);
    transition: opacity .2s;
    opacity: 0;
    content: ""
}

.KittyHeader-name-text--editable:hover {
    color: #82817d
}

.KittyHeader-name-text--editable:hover:after {
    opacity: 1
}

.KittyHeader-details {
    font-size: 2rem;
    font-weight: 500;
    color: #9c9c9b
}

.KittyHeader-details-condition,
.KittyHeader-details-generation {
    color: #9c9c9b;
    position: relative;
    cursor: pointer
}

.KittyHeader-details-condition:hover,
.KittyHeader-details-generation:hover {
    color: #2a2825
}

.KittyHeader-details-condition .Tooltip,
.KittyHeader-details-generation .Tooltip {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: 400;
    border-radius: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: 0 -1rem 10rem rgba(0, 0, 0, .1);
    z-index: 10
}

@media (min-width:760px) {
    .KittyHeader-details-condition .Tooltip,
    .KittyHeader-details-generation .Tooltip {
        position: absolute;
        top: -1.5rem;
        left: calc(100% + 1.5rem);
        bottom: auto;
        width: 29rem;
        border: 2px solid #e7e6e4;
        border-radius: .4rem;
        box-shadow: none
    }
}

.KittyHeader-details-conditionInfo {
    -webkit-transform: translateY(.2rem);
    transform: translateY(.2rem);
    pointer-events: none
}

.KittyHeader-details-conditionsTable {
    margin-top: .8rem
}

.KittyHeader-details-conditionsRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: 400;
    color: #82817d
}

.KittyHeader-details-conditionsRow--selected {
    color: #0b0b0b;
    font-weight: 500
}

.KittyHeader-owner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2.4rem;
    color: #9c9c9b;
    font-size: 2rem;
    font-weight: 500
}

@media (min-width:760px) {
    .KittyHeader-owner {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        margin-bottom: 0
    }
}

.KittyHeader-owner-details {
    line-height: 1.2
}

@media (min-width:760px) {
    .KittyHeader-owner-details {
        text-align: right
    }
}

.KittyHeader-owner-details>* {
    display: block
}

.KittyHeader-owner-image {
    position: relative;
    margin-right: 1.5rem;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 100%;
    -webkit-transform: translateY(.3rem);
    transform: translateY(.3rem)
}

.KittyHeader-owner-image img {
    width: 100%
}

@media (min-width:760px) {
    .KittyHeader-owner-image {
        margin-left: 1.5rem;
        margin-right: 0
    }
}

.KittyHeader-owner-image:after {
    content: "";
    display: block;
    position: absolute;
    top: -.6rem;
    right: -.6rem;
    bottom: -.6rem;
    left: -.6rem;
    margin: auto;
    background-image: url("../images/circleDots.svg");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -2
}

.KittyHeader-owner-image:hover:after {
    background-image: url("../images/circleDotsActive.svg");
    -webkit-animation: rotation 6s infinite linear;
    animation: rotation 6s infinite linear
}

@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.KittyHeader-owner-name {
    color: #2a2825
}

.KittyHeader-shareBtn {
    cursor: pointer;
    transition: -webkit-transform .3s cubic-bezier(.06, .67, .37, .99);
    transition: transform .3s cubic-bezier(.06, .67, .37, .99);
    transition: transform .3s cubic-bezier(.06, .67, .37, .99), -webkit-transform .3s cubic-bezier(.06, .67, .37, .99)
}

.KittyHeader-shareBtn:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.KittyHeader-shareBtn:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

.KittyHeader-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 1.5rem 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
}

.KittyHeader-actions-action {
    margin-right: .8rem
}

.KittyHeader-transaction {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin: 1.5rem 0
}

.KittiesList-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: -1rem;
    margin-left: -1rem;
    padding-top: .5rem
}

.KittiesList-item {
    margin-top: 1rem;
    margin-left: 1rem
}

.KittiesList-title {
    margin-bottom: .8rem;
    font-size: 2rem;
    font-weight: 500
}

.KittiesGalleryPagination {
    padding: 2.4rem;
    max-width: 112rem;
    margin: 0 auto
}

@media (min-width:760px) {
    .KittiesGalleryPagination {
        padding-left: 3.2rem;
        padding-right: 3.2rem
    }
}

.KittyBid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

.KittyBid--sale {
    --color-highlight: #fba371
}

.KittyBid--sire {
    --color-highlight: #e27dd1
}

.KittyBid-boxes {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-bottom: 1.5rem
}

@media (min-width:480px) {
    .KittyBid-boxes {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media (min-width:760px) {
    .KittyBid-boxes {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }
}

.KittyBid-box {
    margin-bottom: 1.5rem
}

.KittyBid-box:last-child {
    margin-bottom: 0
}

@media (min-width:480px) {
    .KittyBid-box {
        margin-bottom: 0
    }
}

.KittyBid-action {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
}

@media (min-width:760px) {
    .KittyBid-action {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto
    }
}

.KittyBid-action .Button {
    width: 100%
}

.KittyBid-box {
    margin-right: 6.4rem
}

.KittyBid-box-title {
    color: #2a2825;
    font-size: 1.6rem;
    font-weight: 500
}

.KittyBid-box-subtitle {
    color: #2a2825;
    font-size: 2.4rem;
    font-weight: 500
}

.KittyBid-box-subtitle em {
    color: var(--color-highlight);
    font-style: normal
}

.KittyBid-box--secondary .KittyBid-box-subtitle,
.KittyBid-box--secondary .KittyBid-box-title {
    color: #9c9c9b
}

.KittyBid-box--secondary .KittyBid-box-subtitle--highlight {
    color: var(--color-highlight)
}

.KittyBid-auctionGraph {
    margin-top: 3.2rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
}