
.ListAttributes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: -1rem;
    margin-left: -1rem;
    padding-top: .5rem
}

.ListAttributes-item {
    position: relative;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: .75rem 1.25rem .75rem 3.25rem;
    font-size: 1.6rem;
    background: #f9f8f6;
    border: .2rem solid #e7e6e4;
    border-radius: .4rem
}

.ListAttributes-item:before {
    position: absolute;
    top: 50%;
    left: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url("../icons/type-common.svg");
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: ""
}

.ListAttributes-item--rare:before {
    background-image: url("../icons/type-rare.svg")
}

.ListAttributes-item--epic:before {
    background-image: url("../icons/type-epic.svg")
}

.ListAttributes-item--legendary:before {
    background-image: url("../icons/type-legendary.svg")
}

.ListAttributes-item--fancy {
    padding-left: 1.25rem
}

.ListAttributes-item--fancy:before {
    display: none
}

.ListAttributes-item--body:before,
.ListAttributes-item--colorbody:before {
    background-image: url("../icons/cattribute-body.svg")
}

.ListAttributes-item--coloreyes:before {
    width: 1.7rem;
    background-image: url("../icons/cattribute-eyecolor.svg")
}

.ListAttributes-item--color:before {
    width: 1.7rem;
    background-image: url("../icons/cattribute-color.svg")
}

.ListAttributes-item--pattern:before {
    background-image: url("../icons/cattribute-pattern.svg")
}

.ListAttributes-item--mouth:before {
    background-image: url("../icons/cattribute-mouth.svg")
}

.ListAttributes-item--eyes:before {
    width: 1.7rem;
    background-image: url("../icons/cattribute-eyeshape.svg")
}

.ListAttributes-title {
    margin-bottom: .8rem;
    font-size: 2rem;
    font-weight: 500
}

.ListAttributes--fancy .ListAttributes-item {
    background-color: #ffe888;
    border-color: #ffce1e
}

.ListAttributes--exclusive .ListAttributes-item {
    background-color: #e0d9fd;
    border-color: #baadef
}
