
.Modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    background-color: rgba(49, 50, 61, 0);
    -webkit-animation: modal .2s cubic-bezier(.06, .67, .37, .99) forwards;
    animation: modal .2s cubic-bezier(.06, .67, .37, .99) forwards
}

.Modal--visible {
    visibility: visible;
    background-color: rgba(49, 50, 61, .4)
}

.Modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: auto;
    width: auto;
    max-height: 100%;
    background-color: #fff;
    -webkit-animation: modalContent .2s cubic-bezier(.06, .67, .37, .99) forwards;
    animation: modalContent .2s cubic-bezier(.06, .67, .37, .99) forwards
}

.Modal--fill .Modal-content {
    width: 100vw
}

@-webkit-keyframes modal {
    0% {
        background-color: rgba(49, 50, 61, 0)
    }
    to {
        background-color: rgba(49, 50, 61, .4)
    }
}

@keyframes modal {
    0% {
        background-color: rgba(49, 50, 61, 0)
    }
    to {
        background-color: rgba(49, 50, 61, .4)
    }
}

@-webkit-keyframes modalContent {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, calc(-50% - 10rem), 0);
        transform: translate3d(-50%, calc(-50% - 10rem), 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0)
    }
}

@keyframes modalContent {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, calc(-50% - 10rem), 0);
        transform: translate3d(-50%, calc(-50% - 10rem), 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0)
    }
}