.Note {
    width: 100%;
    display: block;
    margin: 1.5rem 0 3.2rem;
    padding: 1.5rem 1.8rem;
    background-color: #f9f8f6;
    font-size: 1.8rem;
    color: #82817d;
    line-height: 1.3;
    text-align: center;
    border: .2rem solid #f3f1ee;
    border-radius: .5rem
}

.Note strong {
    font-weight: 500;
    color: #82817d
}

.Note--warning {
    padding: 1.8rem;
    font-size: 2rem;
    font-weight: 500;
    color: #ef52d1;
    background-color: #fadff4;
    border: .2rem solid #ef52d1
}
