.ProfileHeader {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2.4rem 0
}

.ProfileHeader,
.ProfileHeader-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.ProfileHeader-image {
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 100%;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s
}

@media (min-width:960px) {
    .ProfileHeader-image {
        width: 8.2rem;
        height: 8.2rem
    }
}

.ProfileHeader-image--clickable:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer
}

.ProfileHeader-image--clickable:active {
    -webkit-transform: scale(.8);
    transform: scale(.8)
}

.ProfileHeader-info {
    margin-left: 2.4rem
}

@media (min-width:760px) {
    .ProfileHeader-info {
        margin-left: 2.4rem
    }
}

.ProfileHeader-title {
    color: #0b0b0b;
    font-size: 2.8rem;
    line-height: 1.33
}

@media (min-width:760px) {
    .ProfileHeader-title {
        font-size: 3.2rem
    }
}

.ProfileHeader-wallet {
    margin: 0;
    font-size: 1.6rem;
    color: #82817d
}

.ProfileHeader-dot {
    margin: 0 .8rem;
    -webkit-transform: translateY(-.2rem);
    transform: translateY(-.2rem)
}

.ProfileHeader-settings {
    color: #82817d;
    border-bottom: .2rem solid #f3f1ee;
    cursor: pointer;
    transition: border .25s, color .25s
}

.ProfileHeader-settings:hover {
    color: #2a2825;
    border-color: #82817d
}

.ProfileHeader-button {
    margin-left: .8rem;
    display: inline-block
}

.ProfilePage {
    padding-bottom: 6.4rem
}