@-webkit-keyframes slideUpDefault {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, calc(-50% + .5rem), 0);
        transform: translate3d(0, calc(-50% + .5rem), 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0)
    }
}

@keyframes slideUpDefault {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, calc(-50% + .5rem), 0);
        transform: translate3d(0, calc(-50% + .5rem), 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0)
    }
}

@-webkit-keyframes slideUpBottom {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, .5rem, 0);
        transform: translate3d(-50%, .5rem, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0)
    }
}

@keyframes slideUpBottom {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, .5rem, 0);
        transform: translate3d(-50%, .5rem, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0)
    }
}
@-webkit-keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(.5rem);
        transform: translateY(.5rem)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(.5rem);
        transform: translateY(.5rem)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
