.FloatingSupportLink {
    position: fixed;
    right: 3.2rem;
    bottom: 3.2rem;
    overflow: hidden;
    width: 5.2rem;
    height: 5.2rem;
    transition: width 0s .25s
}

.FloatingSupportLink-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 5.2rem;
    height: 5.2rem;
    background: #7289da;
    border-radius: 5.2rem 5.2rem;
    transition: opacity .25s, -webkit-transform .25s;
    transition: transform .25s, opacity .25s;
    transition: transform .25s, opacity .25s, -webkit-transform .25s
}

.FloatingSupportLink-icon--message {
    opacity: 1;
    -webkit-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1)
}

.FloatingSupportLink-icon--plane {
    opacity: 0;
    -webkit-transform: translateZ(0) scale(0);
    transform: translateZ(0) scale(0)
}

.FloatingSupportLink-text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 5.2rem;
    width: 16rem;
    height: 5.2rem;
    color: #fff;
    background: #7289da;
    border-radius: 5.2rem 5.2rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
    opacity: 0;
    transition: opacity .25s
}

.FloatingSupportLink-text strong {
    font-weight: 500
}

.FloatingSupportLink:hover {
    width: 16rem;
    transition: width 0s 0s
}

.FloatingSupportLink:hover .FloatingSupportLink-icon--message {
    opacity: 0;
    -webkit-transform: translate3d(-10.8rem, 0, 0) scale(0);
    transform: translate3d(-10.8rem, 0, 0) scale(0)
}

.FloatingSupportLink:hover .FloatingSupportLink-icon--plane {
    opacity: 1;
    -webkit-transform: translate3d(-10.8rem, 0, 0) scale(1);
    transform: translate3d(-10.8rem, 0, 0) scale(1)
}

.FloatingSupportLink:hover .FloatingSupportLink-text {
    opacity: 1
}