.TooltipNew {
    position: relative
}

.TooltipNew-wrapper {
    cursor: pointer
}

.TooltipNew-content {
    left: calc(100% + 1.5rem);
    z-index: 1000;
    padding: 1.5rem;
    min-width: 24rem;
    border: 2px solid #e7e6e4;
    border-radius: .4rem;
    box-shadow: 0 .3rem 0 0 #e7e6e4;
    word-wrap: break-word;
    -webkit-transform: translate3d(0, calc(-50% + .5rem), 0);
    transform: translate3d(0, calc(-50% + .5rem), 0);
    -webkit-animation: slideUpDefault .4s forwards;
    animation: slideUpDefault .4s forwards
}

.TooltipNew-content,
.TooltipNew-content:after {
    position: absolute;
    top: 50%;
    background-color: #fff
}

.TooltipNew-content:after {
    display: block;
    left: 0;
    width: 1.2rem;
    height: 1.2rem;
    border-left: 2px solid #e7e6e4;
    border-bottom: 2px solid #e7e6e4;
    -webkit-transform: translate(-.7rem, -50%) rotate(45deg);
    transform: translate(-.7rem, -50%) rotate(45deg);
    content: "";
    z-index: 10
}

.TooltipNew-content--bottom {
    left: 50%;
    top: calc(100% + 1.5rem);
    -webkit-transform: translate3d(-50%, .5rem, 0);
    transform: translate3d(-50%, .5rem, 0);
    -webkit-animation: slideUpBottom .4s forwards;
    animation: slideUpBottom .4s forwards
}

.TooltipNew-content--bottom:after {
    top: 0;
    left: 50%;
    -webkit-transform: translate3d(-50%, -.7rem, 0) rotate(135deg);
    transform: translate3d(-50%, -.7rem, 0) rotate(135deg)
}

.TooltipNew-content p {
    font-size: 1.4rem;
    margin: .4rem 0 0
}
