




.Transaction {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4.8rem
}

.Transaction--narrow {
    max-width: 35rem
}

.Transaction-title {
    margin-bottom: 1.5rem;
    font-size: 3.2rem
}

.Transaction-flow {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.Transaction-item {
    margin: 0 1.5rem;
    color: #82817d
}

.Transaction-item--transfer {
    color: #2a2825;
    font-weight: 500
}


